/* =============================================================================
           Small Screen - Tablate/Others
 ============================================================================= */
@media screen and (min-width: 768px) and (max-width: 991px) {

.header-bottom-right {
    margin-top: 120px;
}
.practicing-area { 
    padding: 30px 0px;
    margin: 30px 0px;
}
.practicing-part h2 {  
    font-size: 25px;
}
.practicing-part p {
    font-size: 18px; 
}
.sharon-right {
    margin-top: 0px;
    padding: 0px;
}
.sharon-right h2 {   
    font-size: 35px;
}
.blog-post {  
    padding: 40px 0px;
    margin: 0px;
}
.carousel-caption img {
    width: 100px;
}
.sharon-footer-part2 ul li a {
    padding: 10px 10px;
}



}

/* =============================================================================
            Xtra Small Screen - Tablate
 ============================================================================= */
@media screen and (min-width: 576px) and (max-width: 767px) {	

.header-left,
.header-right {
    padding: 15px 0px;
}
.header-bottom-right h3 {
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 40px;   
}
.header-bottom-right h3:nth-child(2):after { 
    width: 200px;
}
.header-bottom-right h3:nth-child(3):after { 
    width: 190px;
}
.header-bottom-right h3:nth-child(4):after {
    width: 230px;
}
.love-right {
    padding: 0px;   
}
.college-right {
    padding: 0px;   
}
.life-right {
    padding: 0px;   
}
.practicing-area { 
    padding: 30px 0px;
    margin: 30px 0px;
}
.sharon-part {
    padding: 40px 0px;
}
.sharon-right {
    margin-top: 35px;
    padding: 0px;
}
.sharon-right h2 {   
    font-size: 35px;
}
.blog-post {  
    padding: 40px 0px;
    margin: 15px 0px 0px 0px;
}
.blog-post-part {
    margin-bottom: 30px;
}
.blog-post-top {
    margin-bottom: 30px;
}
.blog-post-part h2 {
    font-size: 22px;  
}
.blog-post-part p {
   font-size: 18px;
   margin: 10px 0px;
}
.blog-post-part a {
   font-size: 18px;
}
.d-none {
    display: block!important;
}
.carousel-text-title {
    margin: 15px 0px;
}
.carousel-text-title h2 {
    font-size: 18px;    
}
.carousel-text-title p {
    font-size: 15px; 
}
.carousel-text-content p {
    font-size: 15px;  
}
.testimonials-area {
    padding: 30px 0px;
}
.carousel-caption img {
    display: inline-block;
    margin-top: -100px;
    width: 100px;
}
.message-part-top {    
    margin: 5px 0px;
}
.message-area {
    padding: 30px 0px;
}
.message-part-bottom textarea {
     padding: 8px;  
}
.footer-area {
    padding: 30px 0px 0px 0px; 
}
.footer-part-1,
.footer-part-2,
.footer-part-3,
.footer-part-4 {
    margin-bottom: 30px;
}
.footer-part-1 img {
    width: 50%;
    margin-bottom: -20px;
}
.sharon-footer-area {  
    padding: 30px 0px 0px 0px;
}
.sharon-footer-1 img {
    width: 60%;
}
.sharon-footer-3 {  
  margin-top: 40px;
}

.studently-content-part h2 {
    font-size: 30px; 
}

.newsletter-form input[type="email"] { 
    margin: 40px 0px; 
}
.newsletter-title {
    margin-bottom: 30px;
}
.newsletter-title h2 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.sharon-footer-3 {
	position: fixed;
	left: 0;
	border: 0;
}
.scroll-top {
	right: 0;
}
.footer-part-3 {
	margin-bottom: 100px;
}
.overlay a {
	padding: 2px;
	text-decoration: none;
	font-size: 19px;
	color: #000;
	display: block;
	transition: 0.3s;
}
.overlay ul li a {
	width: 60% !important;
}
#af-form-706595701 .af-header .bodyText > p:first-child {
	display: none;
}
#af-form-706595701 h2 {
	position: relative !important;
	top: -27px;
}
#af-form-706595701 .bodyText p {
	margin: 1em 0;
	position: relative;
	top: -21px;
}
}

/* =============================================================================
            Xtra Small Screen - Mobile Phone
 ============================================================================= */
@media screen and (max-width: 576px) {
.overlay a {
	font-size: 19px;
	padding: 2px;
}
.overlay ul li a {
	width: 80% !important;
}
.header-left img {
	width: 180px;
}
.nav-bar i {
    font-size: 35px;    
}
.header-left,
.header-right {
    padding: 15px 0px;
}
.header-bottom-right h3 {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 25px;   
}
.header-bottom-right h3:nth-child(2):after { 
    width: 120px;
}
.header-bottom-right h3:nth-child(3):after {
    width: 110px;
}
.header-bottom-right h3:nth-child(4):after {
    width: 130px;
}
.what-studently {
    position: relative;
    top: -35px;
}
.what-studently-top h2 {
    font-size: 25px;  
}
.what-studently-top h4 {
    font-size: 20px; 
    margin: 30px 0px 15px 0px;
}
.love-right {
    padding: 0px;    
}
.college-left {
    padding: 0px;   
}
.life-left {
    padding: 0px;   
}
.practicing-area { 
    padding: 25px 0px;
    margin: 15px 0px;
}
.practicing-part h2 {  
    font-size: 22px; 
}
.practicing-part p {
    font-size: 16px; 
}
.sharon-part {
    padding: 30px 0px;
}
.sharon-right {
    margin-top: 35px;
    padding: 0px;
}
.sharon-right h2 {   
    font-size: 25px;
}
.sharon-right p {
    font-size: 18px;
    margin: 15px 0px;
}
.sharon-right a {
   font-size: 18px;
}
.blog-post {  
    padding: 20px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
}
.blog-post-part {
    margin-bottom: 30px;
}
.blog-post-top {
    margin-bottom: 30px;
}
.blog-post-part h2 {
    font-size: 20px;  
}
.blog-post-part p {
   font-size: 17px;
   margin: 10px 0px;
}
.blog-post-part a {
   font-size: 17px;
}
.d-none {
    display: block!important;
}
.carousel-text-title {
    margin: 10px 0px;
}
.carousel-text-title h2 {
    font-size: 18px;   
    margin-bottom: 0px;
    color: #414142;
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;
}
.carousel-text-title p {
    font-size: 13px;  
}
.carousel-text-content p {
    font-size: 13px;   
}
.testimonials-area {
    padding: 30px 0px;
}
.carousel-caption img {
    display: inline-block;
    margin-top: -100px;
    width: 100px;
}
.message-part-top {    
    margin: 5px 0px;
}
.message-area {
    padding: 30px 0px;
}
.message-part-bottom textarea {
     padding: 5px;  
}
.footer-area {
    padding: 30px 0px 0px 0px;  
}
.footer-part-1,
.footer-part-3,
.footer-part-4 {
    margin-bottom: 30px;
}
.footer-part-1 img {
    width: 60%;
    margin-bottom: -20px;
}
.sharon-footer-part2 ul h4 {
    float: left;
}
.sharon-footer-part2 ul {
    float: right;
    margin-top: -30px;
} 
.sharon-footer-part2 ul li {
    float: left;
}
.sharon-footer-part2 ul li a {
    padding: 10px 10px;
    color: #414142;
}
.sharon-footer-3 { 
  margin-top: 30px;
}
.sharon-footer-3 {
	padding: 13px 9px;
}
.sharon-footer-area {  
    padding: 30px 0px 0px 0px;
}
.sharon-footer-3 h4 {
	font-size: 19px;
}
.studently-content-part h2 {
    font-size: 20px; 
}
.scroll-top {
	bottom: 52px;
}
.newsletter-form input[type="email"] { 
    margin: 30px 0px; 
}
.newsletter-title {
    margin-bottom: 20px;
}
.newsletter-title h2 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.sharon-footer-3 {
	position: fixed;
	left: 0;
	border: 0;
}
.scroll-top {
	right: 0;
}
.overlay .closebtn {
	top: 0px;
	right: 20px;
}

.header-bottom-right {
	margin-top: 80px;
    margin-left: 39px;
}
#af-form-706595701 .af-header .bodyText > p:first-child {
	display: none;
}
#af-form-706595701 h2 {
	position: relative !important;
	top: -27px;
	font-size: 23px;
}
#af-form-706595701 .bodyText p {
	margin: 1em 0;
	position: relative;
	top: -21px;
}
.header-area {
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center !important;
    height: 62vh;
    overflow: hidden;
}
.blog-post-part {
	height: 285px;
}
.footer-part-2 {
	margin: 0;
}
}